/node_modules/@ngrx/core/LICENSE
/node_modules/@ngrx/core/README.md
/node_modules/@ngrx/core/SyncSubject.d.ts
/node_modules/@ngrx/core/SyncSubject.js
/node_modules/@ngrx/core/add/operator/enterZone.d.ts
/node_modules/@ngrx/core/add/operator/enterZone.js
/node_modules/@ngrx/core/add/operator/leaveZone.d.ts
/node_modules/@ngrx/core/add/operator/leaveZone.js
/node_modules/@ngrx/core/add/operator/select.d.ts
/node_modules/@ngrx/core/add/operator/select.js
/node_modules/@ngrx/core/bundles/core.min.umd.js
/node_modules/@ngrx/core/bundles/core.umd.js
/node_modules/@ngrx/core/compose.d.ts
/node_modules/@ngrx/core/compose.js
/node_modules/@ngrx/core/compose.metadata.json
/node_modules/@ngrx/core/index.d.ts
/node_modules/@ngrx/core/index.js
/node_modules/@ngrx/core/index.js.map
/node_modules/@ngrx/core/index.metadata.json
/node_modules/@ngrx/core/operator/enterZone.d.ts
/node_modules/@ngrx/core/operator/enterZone.js
/node_modules/@ngrx/core/operator/enterZone.metadata.json
/node_modules/@ngrx/core/operator/leaveZone.d.ts
/node_modules/@ngrx/core/operator/leaveZone.js
/node_modules/@ngrx/core/operator/leaveZone.metadata.json
/node_modules/@ngrx/core/operator/select.d.ts
/node_modules/@ngrx/core/operator/select.js
/node_modules/@ngrx/core/package.json
/node_modules/@ngrx/core/src/compose.d.ts
/node_modules/@ngrx/core/src/compose.js
/node_modules/@ngrx/core/src/compose.js.map
/node_modules/@ngrx/core/src/compose.metadata.json
/node_modules/@ngrx/core/src/operator/enterZone.d.ts
/node_modules/@ngrx/core/src/operator/enterZone.js
/node_modules/@ngrx/core/src/operator/enterZone.js.map
/node_modules/@ngrx/core/src/operator/enterZone.metadata.json
/node_modules/@ngrx/core/src/operator/leaveZone.d.ts
/node_modules/@ngrx/core/src/operator/leaveZone.js
/node_modules/@ngrx/core/src/operator/leaveZone.js.map
/node_modules/@ngrx/core/src/operator/leaveZone.metadata.json
/node_modules/@ngrx/core/src/operator/select.d.ts
/node_modules/@ngrx/core/src/operator/select.js
/node_modules/@ngrx/core/src/operator/select.js.map
/node_modules/@ngrx/effects/README.md
/node_modules/@ngrx/effects/bundles/effects-testing.umd.js
/node_modules/@ngrx/effects/bundles/effects-testing.umd.js.map
/node_modules/@ngrx/effects/bundles/effects-testing.umd.min.js
/node_modules/@ngrx/effects/bundles/effects-testing.umd.min.js.map
/node_modules/@ngrx/effects/bundles/effects.umd.js
/node_modules/@ngrx/effects/bundles/effects.umd.js.map
/node_modules/@ngrx/effects/bundles/effects.umd.min.js
/node_modules/@ngrx/effects/bundles/effects.umd.min.js.map
/node_modules/@ngrx/effects/effects.d.ts
/node_modules/@ngrx/effects/effects.metadata.json
/node_modules/@ngrx/effects/esm2015/effects.externs.js
/node_modules/@ngrx/effects/esm2015/effects.js
/node_modules/@ngrx/effects/esm2015/index.js
/node_modules/@ngrx/effects/esm2015/public_api.js
/node_modules/@ngrx/effects/esm2015/src/act.js
/node_modules/@ngrx/effects/esm2015/src/actions.js
/node_modules/@ngrx/effects/esm2015/src/effect_creator.js
/node_modules/@ngrx/effects/esm2015/src/effect_decorator.js
/node_modules/@ngrx/effects/esm2015/src/effect_notification.js
/node_modules/@ngrx/effects/esm2015/src/effect_sources.js
/node_modules/@ngrx/effects/esm2015/src/effects_feature_module.js
/node_modules/@ngrx/effects/esm2015/src/effects_metadata.js
/node_modules/@ngrx/effects/esm2015/src/effects_module.js
/node_modules/@ngrx/effects/esm2015/src/effects_resolver.js
/node_modules/@ngrx/effects/esm2015/src/effects_root_module.js
/node_modules/@ngrx/effects/esm2015/src/effects_runner.js
/node_modules/@ngrx/effects/esm2015/src/index.js
/node_modules/@ngrx/effects/esm2015/src/lifecycle_hooks.js
/node_modules/@ngrx/effects/esm2015/src/models.js
/node_modules/@ngrx/effects/esm2015/src/tokens.js
/node_modules/@ngrx/effects/esm2015/src/utils.js
/node_modules/@ngrx/effects/esm2015/testing/index.js
/node_modules/@ngrx/effects/esm2015/testing/src/testing.js
/node_modules/@ngrx/effects/esm2015/testing/testing.externs.js
/node_modules/@ngrx/effects/esm2015/testing/testing.js
/node_modules/@ngrx/effects/esm5/effects.js
/node_modules/@ngrx/effects/esm5/index.js
/node_modules/@ngrx/effects/esm5/public_api.js
/node_modules/@ngrx/effects/esm5/src/act.js
/node_modules/@ngrx/effects/esm5/src/actions.js
/node_modules/@ngrx/effects/esm5/src/effect_creator.js
/node_modules/@ngrx/effects/esm5/src/effect_decorator.js
/node_modules/@ngrx/effects/esm5/src/effect_notification.js
/node_modules/@ngrx/effects/esm5/src/effect_sources.js
/node_modules/@ngrx/effects/esm5/src/effects_feature_module.js
/node_modules/@ngrx/effects/esm5/src/effects_metadata.js
/node_modules/@ngrx/effects/esm5/src/effects_module.js
/node_modules/@ngrx/effects/esm5/src/effects_resolver.js
/node_modules/@ngrx/effects/esm5/src/effects_root_module.js
/node_modules/@ngrx/effects/esm5/src/effects_runner.js
/node_modules/@ngrx/effects/esm5/src/index.js
/node_modules/@ngrx/effects/esm5/src/lifecycle_hooks.js
/node_modules/@ngrx/effects/esm5/src/models.js
/node_modules/@ngrx/effects/esm5/src/tokens.js
/node_modules/@ngrx/effects/esm5/src/utils.js
/node_modules/@ngrx/effects/esm5/testing/index.js
/node_modules/@ngrx/effects/esm5/testing/src/testing.js
/node_modules/@ngrx/effects/esm5/testing/testing.js
/node_modules/@ngrx/effects/fesm2015/effects.js
/node_modules/@ngrx/effects/fesm2015/effects.js.map
/node_modules/@ngrx/effects/fesm2015/testing.js
/node_modules/@ngrx/effects/fesm2015/testing.js.map
/node_modules/@ngrx/effects/fesm5/effects.js
/node_modules/@ngrx/effects/fesm5/effects.js.map
/node_modules/@ngrx/effects/fesm5/testing.js
/node_modules/@ngrx/effects/fesm5/testing.js.map
/node_modules/@ngrx/effects/index.d.ts
/node_modules/@ngrx/effects/migrations/6_0_0/index.d.ts
/node_modules/@ngrx/effects/migrations/6_0_0/index.js
/node_modules/@ngrx/effects/migrations/migration.json
/node_modules/@ngrx/effects/package.json
/node_modules/@ngrx/effects/public_api.d.ts
/node_modules/@ngrx/effects/schematics-core/index.d.ts
/node_modules/@ngrx/effects/schematics-core/index.js
/node_modules/@ngrx/effects/schematics-core/utility/ast-utils.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/ast-utils.js
/node_modules/@ngrx/effects/schematics-core/utility/change.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/change.js
/node_modules/@ngrx/effects/schematics-core/utility/config.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/config.js
/node_modules/@ngrx/effects/schematics-core/utility/find-module.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/find-module.js
/node_modules/@ngrx/effects/schematics-core/utility/libs-version.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/libs-version.js
/node_modules/@ngrx/effects/schematics-core/utility/ngrx-utils.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/ngrx-utils.js
/node_modules/@ngrx/effects/schematics-core/utility/package.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/package.js
/node_modules/@ngrx/effects/schematics-core/utility/parse-name.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/parse-name.js
/node_modules/@ngrx/effects/schematics-core/utility/project.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/project.js
/node_modules/@ngrx/effects/schematics-core/utility/strings.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/strings.js
/node_modules/@ngrx/effects/schematics-core/utility/update.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/update.js
/node_modules/@ngrx/effects/schematics-core/utility/visit-utils.d.ts
/node_modules/@ngrx/effects/schematics-core/utility/visit-utils.js
/node_modules/@ngrx/effects/schematics/collection.json
/node_modules/@ngrx/effects/schematics/ng-add/files/__name@dasherize@if-flat__/__name@dasherize__.effects.spec.ts.template
/node_modules/@ngrx/effects/schematics/ng-add/files/__name@dasherize@if-flat__/__name@dasherize__.effects.ts.template
/node_modules/@ngrx/effects/schematics/ng-add/index.d.ts
/node_modules/@ngrx/effects/schematics/ng-add/index.js
/node_modules/@ngrx/effects/schematics/ng-add/schema.d.ts
/node_modules/@ngrx/effects/schematics/ng-add/schema.js
/node_modules/@ngrx/effects/schematics/ng-add/schema.json
/node_modules/@ngrx/effects/src/act.d.ts
/node_modules/@ngrx/effects/src/actions.d.ts
/node_modules/@ngrx/effects/src/effect_creator.d.ts
/node_modules/@ngrx/effects/src/effect_decorator.d.ts
/node_modules/@ngrx/effects/src/effect_notification.d.ts
/node_modules/@ngrx/effects/src/effect_sources.d.ts
/node_modules/@ngrx/effects/src/effects_feature_module.d.ts
/node_modules/@ngrx/effects/src/effects_metadata.d.ts
/node_modules/@ngrx/effects/src/effects_module.d.ts
/node_modules/@ngrx/effects/src/effects_resolver.d.ts
/node_modules/@ngrx/effects/src/effects_root_module.d.ts
/node_modules/@ngrx/effects/src/effects_runner.d.ts
/node_modules/@ngrx/effects/src/index.d.ts
/node_modules/@ngrx/effects/src/lifecycle_hooks.d.ts
/node_modules/@ngrx/effects/src/models.d.ts
/node_modules/@ngrx/effects/src/tokens.d.ts
/node_modules/@ngrx/effects/src/utils.d.ts
/node_modules/@ngrx/effects/testing.d.ts
/node_modules/@ngrx/effects/testing.metadata.json
/node_modules/@ngrx/effects/testing/index.d.ts
/node_modules/@ngrx/effects/testing/package.json
/node_modules/@ngrx/effects/testing/src/testing.d.ts
/node_modules/@ngrx/effects/testing/testing.d.ts
/node_modules/@ngrx/effects/testing/testing.metadata.json
/node_modules/@ngrx/router-store/README.md
/node_modules/@ngrx/router-store/bundles/router-store.umd.js
/node_modules/@ngrx/router-store/bundles/router-store.umd.js.map
/node_modules/@ngrx/router-store/bundles/router-store.umd.min.js
/node_modules/@ngrx/router-store/bundles/router-store.umd.min.js.map
/node_modules/@ngrx/router-store/esm2015/index.js
/node_modules/@ngrx/router-store/esm2015/public_api.js
/node_modules/@ngrx/router-store/esm2015/router-store.externs.js
/node_modules/@ngrx/router-store/esm2015/router-store.js
/node_modules/@ngrx/router-store/esm2015/src/actions.js
/node_modules/@ngrx/router-store/esm2015/src/index.js
/node_modules/@ngrx/router-store/esm2015/src/models.js
/node_modules/@ngrx/router-store/esm2015/src/reducer.js
/node_modules/@ngrx/router-store/esm2015/src/router_selectors.js
/node_modules/@ngrx/router-store/esm2015/src/router_store_module.js
/node_modules/@ngrx/router-store/esm2015/src/serializers/base.js
/node_modules/@ngrx/router-store/esm2015/src/serializers/default_serializer.js
/node_modules/@ngrx/router-store/esm2015/src/serializers/minimal_serializer.js
/node_modules/@ngrx/router-store/esm5/index.js
/node_modules/@ngrx/router-store/esm5/public_api.js
/node_modules/@ngrx/router-store/esm5/router-store.js
/node_modules/@ngrx/router-store/esm5/src/actions.js
/node_modules/@ngrx/router-store/esm5/src/index.js
/node_modules/@ngrx/router-store/esm5/src/models.js
/node_modules/@ngrx/router-store/esm5/src/reducer.js
/node_modules/@ngrx/router-store/esm5/src/router_selectors.js
/node_modules/@ngrx/router-store/esm5/src/router_store_module.js
/node_modules/@ngrx/router-store/esm5/src/serializers/base.js
/node_modules/@ngrx/router-store/esm5/src/serializers/default_serializer.js
/node_modules/@ngrx/router-store/esm5/src/serializers/minimal_serializer.js
/node_modules/@ngrx/router-store/fesm2015/router-store.js
/node_modules/@ngrx/router-store/fesm2015/router-store.js.map
/node_modules/@ngrx/router-store/fesm5/router-store.js
/node_modules/@ngrx/router-store/fesm5/router-store.js.map
/node_modules/@ngrx/router-store/index.d.ts
/node_modules/@ngrx/router-store/migrations/6_0_0/index.d.ts
/node_modules/@ngrx/router-store/migrations/6_0_0/index.js
/node_modules/@ngrx/router-store/migrations/8_0_0/index.d.ts
/node_modules/@ngrx/router-store/migrations/8_0_0/index.js
/node_modules/@ngrx/router-store/migrations/migration.json
/node_modules/@ngrx/router-store/package.json
/node_modules/@ngrx/router-store/public_api.d.ts
/node_modules/@ngrx/router-store/router-store.d.ts
/node_modules/@ngrx/router-store/router-store.metadata.json
/node_modules/@ngrx/router-store/schematics-core/index.d.ts
/node_modules/@ngrx/router-store/schematics-core/index.js
/node_modules/@ngrx/router-store/schematics-core/utility/ast-utils.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/ast-utils.js
/node_modules/@ngrx/router-store/schematics-core/utility/change.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/change.js
/node_modules/@ngrx/router-store/schematics-core/utility/config.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/config.js
/node_modules/@ngrx/router-store/schematics-core/utility/find-module.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/find-module.js
/node_modules/@ngrx/router-store/schematics-core/utility/libs-version.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/libs-version.js
/node_modules/@ngrx/router-store/schematics-core/utility/ngrx-utils.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/ngrx-utils.js
/node_modules/@ngrx/router-store/schematics-core/utility/package.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/package.js
/node_modules/@ngrx/router-store/schematics-core/utility/parse-name.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/parse-name.js
/node_modules/@ngrx/router-store/schematics-core/utility/project.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/project.js
/node_modules/@ngrx/router-store/schematics-core/utility/strings.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/strings.js
/node_modules/@ngrx/router-store/schematics-core/utility/update.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/update.js
/node_modules/@ngrx/router-store/schematics-core/utility/visit-utils.d.ts
/node_modules/@ngrx/router-store/schematics-core/utility/visit-utils.js
/node_modules/@ngrx/router-store/schematics/collection.json
/node_modules/@ngrx/router-store/schematics/ng-add/index.d.ts
/node_modules/@ngrx/router-store/schematics/ng-add/index.js
/node_modules/@ngrx/router-store/schematics/ng-add/schema.d.ts
/node_modules/@ngrx/router-store/schematics/ng-add/schema.js
/node_modules/@ngrx/router-store/schematics/ng-add/schema.json
/node_modules/@ngrx/router-store/src/actions.d.ts
/node_modules/@ngrx/router-store/src/index.d.ts
/node_modules/@ngrx/router-store/src/models.d.ts
/node_modules/@ngrx/router-store/src/reducer.d.ts
/node_modules/@ngrx/router-store/src/router_selectors.d.ts
/node_modules/@ngrx/router-store/src/router_store_module.d.ts
/node_modules/@ngrx/router-store/src/serializers/base.d.ts
/node_modules/@ngrx/router-store/src/serializers/default_serializer.d.ts
/node_modules/@ngrx/router-store/src/serializers/minimal_serializer.d.ts
/node_modules/@ngrx/store-devtools/README.md
/node_modules/@ngrx/store-devtools/bundles/store-devtools.umd.js
/node_modules/@ngrx/store-devtools/bundles/store-devtools.umd.js.map
/node_modules/@ngrx/store-devtools/bundles/store-devtools.umd.min.js
/node_modules/@ngrx/store-devtools/bundles/store-devtools.umd.min.js.map
/node_modules/@ngrx/store-devtools/esm2015/index.js
/node_modules/@ngrx/store-devtools/esm2015/public_api.js
/node_modules/@ngrx/store-devtools/esm2015/src/actions.js
/node_modules/@ngrx/store-devtools/esm2015/src/config.js
/node_modules/@ngrx/store-devtools/esm2015/src/devtools-dispatcher.js
/node_modules/@ngrx/store-devtools/esm2015/src/devtools.js
/node_modules/@ngrx/store-devtools/esm2015/src/extension.js
/node_modules/@ngrx/store-devtools/esm2015/src/index.js
/node_modules/@ngrx/store-devtools/esm2015/src/instrument.js
/node_modules/@ngrx/store-devtools/esm2015/src/reducer.js
/node_modules/@ngrx/store-devtools/esm2015/src/utils.js
/node_modules/@ngrx/store-devtools/esm2015/store-devtools.externs.js
/node_modules/@ngrx/store-devtools/esm2015/store-devtools.js
/node_modules/@ngrx/store-devtools/esm5/index.js
/node_modules/@ngrx/store-devtools/esm5/public_api.js
/node_modules/@ngrx/store-devtools/esm5/src/actions.js
/node_modules/@ngrx/store-devtools/esm5/src/config.js
/node_modules/@ngrx/store-devtools/esm5/src/devtools-dispatcher.js
/node_modules/@ngrx/store-devtools/esm5/src/devtools.js
/node_modules/@ngrx/store-devtools/esm5/src/extension.js
/node_modules/@ngrx/store-devtools/esm5/src/index.js
/node_modules/@ngrx/store-devtools/esm5/src/instrument.js
/node_modules/@ngrx/store-devtools/esm5/src/reducer.js
/node_modules/@ngrx/store-devtools/esm5/src/utils.js
/node_modules/@ngrx/store-devtools/esm5/store-devtools.js
/node_modules/@ngrx/store-devtools/fesm2015/store-devtools.js
/node_modules/@ngrx/store-devtools/fesm2015/store-devtools.js.map
/node_modules/@ngrx/store-devtools/fesm5/store-devtools.js
/node_modules/@ngrx/store-devtools/fesm5/store-devtools.js.map
/node_modules/@ngrx/store-devtools/index.d.ts
/node_modules/@ngrx/store-devtools/migrations/6_0_0/index.d.ts
/node_modules/@ngrx/store-devtools/migrations/6_0_0/index.js
/node_modules/@ngrx/store-devtools/migrations/migration.json
/node_modules/@ngrx/store-devtools/package.json
/node_modules/@ngrx/store-devtools/public_api.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/index.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/index.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/ast-utils.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/ast-utils.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/change.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/change.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/config.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/config.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/find-module.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/find-module.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/libs-version.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/libs-version.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/ngrx-utils.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/ngrx-utils.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/package.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/package.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/parse-name.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/parse-name.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/project.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/project.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/strings.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/strings.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/update.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/update.js
/node_modules/@ngrx/store-devtools/schematics-core/utility/visit-utils.d.ts
/node_modules/@ngrx/store-devtools/schematics-core/utility/visit-utils.js
/node_modules/@ngrx/store-devtools/schematics/collection.json
/node_modules/@ngrx/store-devtools/schematics/ng-add/index.d.ts
/node_modules/@ngrx/store-devtools/schematics/ng-add/index.js
/node_modules/@ngrx/store-devtools/schematics/ng-add/schema.d.ts
/node_modules/@ngrx/store-devtools/schematics/ng-add/schema.js
/node_modules/@ngrx/store-devtools/schematics/ng-add/schema.json
/node_modules/@ngrx/store-devtools/src/actions.d.ts
/node_modules/@ngrx/store-devtools/src/config.d.ts
/node_modules/@ngrx/store-devtools/src/devtools-dispatcher.d.ts
/node_modules/@ngrx/store-devtools/src/devtools.d.ts
/node_modules/@ngrx/store-devtools/src/extension.d.ts
/node_modules/@ngrx/store-devtools/src/index.d.ts
/node_modules/@ngrx/store-devtools/src/instrument.d.ts
/node_modules/@ngrx/store-devtools/src/reducer.d.ts
/node_modules/@ngrx/store-devtools/src/utils.d.ts
/node_modules/@ngrx/store-devtools/store-devtools.d.ts
/node_modules/@ngrx/store-devtools/store-devtools.metadata.json
/node_modules/@ngrx/store/README.md
/node_modules/@ngrx/store/bundles/store-testing.umd.js
/node_modules/@ngrx/store/bundles/store-testing.umd.js.map
/node_modules/@ngrx/store/bundles/store-testing.umd.min.js
/node_modules/@ngrx/store/bundles/store-testing.umd.min.js.map
/node_modules/@ngrx/store/bundles/store.umd.js
/node_modules/@ngrx/store/bundles/store.umd.js.map
/node_modules/@ngrx/store/bundles/store.umd.min.js
/node_modules/@ngrx/store/bundles/store.umd.min.js.map
/node_modules/@ngrx/store/esm2015/index.js
/node_modules/@ngrx/store/esm2015/public_api.js
/node_modules/@ngrx/store/esm2015/src/action_creator.js
/node_modules/@ngrx/store/esm2015/src/actions_subject.js
/node_modules/@ngrx/store/esm2015/src/index.js
/node_modules/@ngrx/store/esm2015/src/meta-reducers/immutability_reducer.js
/node_modules/@ngrx/store/esm2015/src/meta-reducers/index.js
/node_modules/@ngrx/store/esm2015/src/meta-reducers/serialization_reducer.js
/node_modules/@ngrx/store/esm2015/src/meta-reducers/utils.js
/node_modules/@ngrx/store/esm2015/src/models.js
/node_modules/@ngrx/store/esm2015/src/private_export.js
/node_modules/@ngrx/store/esm2015/src/reducer_creator.js
/node_modules/@ngrx/store/esm2015/src/reducer_manager.js
/node_modules/@ngrx/store/esm2015/src/runtime_checks.js
/node_modules/@ngrx/store/esm2015/src/scanned_actions_subject.js
/node_modules/@ngrx/store/esm2015/src/selector.js
/node_modules/@ngrx/store/esm2015/src/state.js
/node_modules/@ngrx/store/esm2015/src/store.js
/node_modules/@ngrx/store/esm2015/src/store_module.js
/node_modules/@ngrx/store/esm2015/src/tokens.js
/node_modules/@ngrx/store/esm2015/src/utils.js
/node_modules/@ngrx/store/esm2015/store.externs.js
/node_modules/@ngrx/store/esm2015/store.js
/node_modules/@ngrx/store/esm2015/testing/index.js
/node_modules/@ngrx/store/esm2015/testing/src/mock_reducer_manager.js
/node_modules/@ngrx/store/esm2015/testing/src/mock_selector.js
/node_modules/@ngrx/store/esm2015/testing/src/mock_state.js
/node_modules/@ngrx/store/esm2015/testing/src/mock_store.js
/node_modules/@ngrx/store/esm2015/testing/src/testing.js
/node_modules/@ngrx/store/esm2015/testing/src/tokens.js
/node_modules/@ngrx/store/esm2015/testing/testing.externs.js
/node_modules/@ngrx/store/esm2015/testing/testing.js
/node_modules/@ngrx/store/esm5/index.js
/node_modules/@ngrx/store/esm5/public_api.js
/node_modules/@ngrx/store/esm5/src/action_creator.js
/node_modules/@ngrx/store/esm5/src/actions_subject.js
/node_modules/@ngrx/store/esm5/src/index.js
/node_modules/@ngrx/store/esm5/src/meta-reducers/immutability_reducer.js
/node_modules/@ngrx/store/esm5/src/meta-reducers/index.js
/node_modules/@ngrx/store/esm5/src/meta-reducers/serialization_reducer.js
/node_modules/@ngrx/store/esm5/src/meta-reducers/utils.js
/node_modules/@ngrx/store/esm5/src/models.js
/node_modules/@ngrx/store/esm5/src/private_export.js
/node_modules/@ngrx/store/esm5/src/reducer_creator.js
/node_modules/@ngrx/store/esm5/src/reducer_manager.js
/node_modules/@ngrx/store/esm5/src/runtime_checks.js
/node_modules/@ngrx/store/esm5/src/scanned_actions_subject.js
/node_modules/@ngrx/store/esm5/src/selector.js
/node_modules/@ngrx/store/esm5/src/state.js
/node_modules/@ngrx/store/esm5/src/store.js
/node_modules/@ngrx/store/esm5/src/store_module.js
/node_modules/@ngrx/store/esm5/src/tokens.js
/node_modules/@ngrx/store/esm5/src/utils.js
/node_modules/@ngrx/store/esm5/store.js
/node_modules/@ngrx/store/esm5/testing/index.js
/node_modules/@ngrx/store/esm5/testing/src/mock_reducer_manager.js
/node_modules/@ngrx/store/esm5/testing/src/mock_selector.js
/node_modules/@ngrx/store/esm5/testing/src/mock_state.js
/node_modules/@ngrx/store/esm5/testing/src/mock_store.js
/node_modules/@ngrx/store/esm5/testing/src/testing.js
/node_modules/@ngrx/store/esm5/testing/src/tokens.js
/node_modules/@ngrx/store/esm5/testing/testing.js
/node_modules/@ngrx/store/fesm2015/store.js
/node_modules/@ngrx/store/fesm2015/store.js.map
/node_modules/@ngrx/store/fesm2015/testing.js
/node_modules/@ngrx/store/fesm2015/testing.js.map
/node_modules/@ngrx/store/fesm5/store.js
/node_modules/@ngrx/store/fesm5/store.js.map
/node_modules/@ngrx/store/fesm5/testing.js
/node_modules/@ngrx/store/fesm5/testing.js.map
/node_modules/@ngrx/store/index.d.ts
/node_modules/@ngrx/store/migrations/6_0_0/index.d.ts
/node_modules/@ngrx/store/migrations/6_0_0/index.js
/node_modules/@ngrx/store/migrations/8_0_0-beta/index.d.ts
/node_modules/@ngrx/store/migrations/8_0_0-beta/index.js
/node_modules/@ngrx/store/migrations/8_0_0-rc/index.d.ts
/node_modules/@ngrx/store/migrations/8_0_0-rc/index.js
/node_modules/@ngrx/store/migrations/migration.json
/node_modules/@ngrx/store/package.json
/node_modules/@ngrx/store/public_api.d.ts
/node_modules/@ngrx/store/schematics-core/index.d.ts
/node_modules/@ngrx/store/schematics-core/index.js
/node_modules/@ngrx/store/schematics-core/utility/ast-utils.d.ts
/node_modules/@ngrx/store/schematics-core/utility/ast-utils.js
/node_modules/@ngrx/store/schematics-core/utility/change.d.ts
/node_modules/@ngrx/store/schematics-core/utility/change.js
/node_modules/@ngrx/store/schematics-core/utility/config.d.ts
/node_modules/@ngrx/store/schematics-core/utility/config.js
/node_modules/@ngrx/store/schematics-core/utility/find-module.d.ts
/node_modules/@ngrx/store/schematics-core/utility/find-module.js
/node_modules/@ngrx/store/schematics-core/utility/libs-version.d.ts
/node_modules/@ngrx/store/schematics-core/utility/libs-version.js
/node_modules/@ngrx/store/schematics-core/utility/ngrx-utils.d.ts
/node_modules/@ngrx/store/schematics-core/utility/ngrx-utils.js
/node_modules/@ngrx/store/schematics-core/utility/package.d.ts
/node_modules/@ngrx/store/schematics-core/utility/package.js
/node_modules/@ngrx/store/schematics-core/utility/parse-name.d.ts
/node_modules/@ngrx/store/schematics-core/utility/parse-name.js
/node_modules/@ngrx/store/schematics-core/utility/project.d.ts
/node_modules/@ngrx/store/schematics-core/utility/project.js
/node_modules/@ngrx/store/schematics-core/utility/strings.d.ts
/node_modules/@ngrx/store/schematics-core/utility/strings.js
/node_modules/@ngrx/store/schematics-core/utility/update.d.ts
/node_modules/@ngrx/store/schematics-core/utility/update.js
/node_modules/@ngrx/store/schematics-core/utility/visit-utils.d.ts
/node_modules/@ngrx/store/schematics-core/utility/visit-utils.js
/node_modules/@ngrx/store/schematics/collection.json
/node_modules/@ngrx/store/schematics/ng-add/files/__statePath__/index.ts.template
/node_modules/@ngrx/store/schematics/ng-add/index.d.ts
/node_modules/@ngrx/store/schematics/ng-add/index.js
/node_modules/@ngrx/store/schematics/ng-add/schema.d.ts
/node_modules/@ngrx/store/schematics/ng-add/schema.js
/node_modules/@ngrx/store/schematics/ng-add/schema.json
/node_modules/@ngrx/store/src/action_creator.d.ts
/node_modules/@ngrx/store/src/actions_subject.d.ts
/node_modules/@ngrx/store/src/index.d.ts
/node_modules/@ngrx/store/src/meta-reducers/immutability_reducer.d.ts
/node_modules/@ngrx/store/src/meta-reducers/index.d.ts
/node_modules/@ngrx/store/src/meta-reducers/serialization_reducer.d.ts
/node_modules/@ngrx/store/src/meta-reducers/utils.d.ts
/node_modules/@ngrx/store/src/models.d.ts
/node_modules/@ngrx/store/src/private_export.d.ts
/node_modules/@ngrx/store/src/reducer_creator.d.ts
/node_modules/@ngrx/store/src/reducer_manager.d.ts
/node_modules/@ngrx/store/src/runtime_checks.d.ts
/node_modules/@ngrx/store/src/scanned_actions_subject.d.ts
/node_modules/@ngrx/store/src/selector.d.ts
/node_modules/@ngrx/store/src/state.d.ts
/node_modules/@ngrx/store/src/store.d.ts
/node_modules/@ngrx/store/src/store_module.d.ts
/node_modules/@ngrx/store/src/tokens.d.ts
/node_modules/@ngrx/store/src/utils.d.ts
/node_modules/@ngrx/store/store.d.ts
/node_modules/@ngrx/store/store.metadata.json
/node_modules/@ngrx/store/testing.d.ts
/node_modules/@ngrx/store/testing.metadata.json
/node_modules/@ngrx/store/testing/index.d.ts
/node_modules/@ngrx/store/testing/package.json
/node_modules/@ngrx/store/testing/src/mock_reducer_manager.d.ts
/node_modules/@ngrx/store/testing/src/mock_selector.d.ts
/node_modules/@ngrx/store/testing/src/mock_state.d.ts
/node_modules/@ngrx/store/testing/src/mock_store.d.ts
/node_modules/@ngrx/store/testing/src/testing.d.ts
/node_modules/@ngrx/store/testing/src/tokens.d.ts
/node_modules/@ngrx/store/testing/testing.d.ts
/node_modules/@ngrx/store/testing/testing.metadata.json
