<div class="form-group">
  <label for="car-name">Car Name</label>
  <input type="text"
         class="form-control"
         id="car-name"
         [(ngModel)]="carName">
</div>


<div class="form-group">
  <label for="car-model">Car Model</label>
  <input type="text"
         class="form-control"
         id="car-model"
         [(ngModel)]="carModel">
</div>

<button class="btn btn-outline-dark" (click)="onAdd()">Add car</button>
<button class="btn btn-outline-warning" (click)="onLoad()">Load Cars</button>
