<div *ngFor="let car of cars | async"
     class="list-group-item flex-column align-items-start"
     [ngClass]="{'list-group-item-danger': car.isSold}">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{car.name}}</h5>
    <small>{{car.date}}</small>
  </div>
  <p class="mb-3">{{car.model}}</p>
  <button class="btn btn-sm btn-outline-danger" (click)="onDelete(car)">Delete car</button>
  <button class="btn btn-sm btn-outline-success"
          (click)="onBuy(car)"
          [disabled]="car.isSold">Buy car
  </button>
</div>
